
## tmux
tmux/resurrect/*

## config
### mc
config/mc/*
!config/mc/solarized.ini

## vimperator
vimperator/info/*
!vimperator/info/default
vimperator/info/default/*
!vimperator/info/ffRoteDomain
vimperator/info/ffRoteDomain/*

## misc
.netrwhist
