[submodule "zprezto"]
  path = zprezto
  url = git://github.com/d-nnis/prezto
[submodule "vim/bundle/vim-less"]
  path = vim/bundle/vim-less
  url = https://github.com/genoma/vim-less.git
[submodule "tmux/plugins/tmux-continuum"]
  path = tmux/plugins/tmux-continuum
  url = git://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-copycat"]
  path = tmux/plugins/tmux-copycat
  url = git://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tmux-resurrect"]
  path = tmux/plugins/tmux-resurrect
  url = git://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-sensible"]
  path = tmux/plugins/tmux-sensible
  url = git://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
  path = tmux/plugins/tpm
  url = git://github.com/tmux-plugins/tpm
[submodule "vim/plugged/neomake"]
  path = vim/plugged/neomake
  url = git://github.com/neomake/neomake.git
[submodule "vim/plugged/vim-surround"]
  path = vim/plugged/vim-surround
  url = git://github.com/tpope/vim-surround.git
[submodule "vim/plugged/mediawiki.vim"]
  path = vim/plugged/mediawiki.vim
  url = git://github.com/chikamichi/mediawiki.vim.git
[submodule "tmux/plugins/tmux-cpu"]
  path = tmux/plugins/tmux-cpu
  url = git://github.com/tmux-plugins/tmux-cpu
[submodule "tmux/plugins/vim-tmux"]
  path = tmux/plugins/vim-tmux
  url = git://github.com/tmux-plugins/vim-tmux
[submodule "tmux/plugins/tmux-fingers"]
  path = tmux/plugins/tmux-fingers
  url = git://github.com/Morantron/tmux-fingers
[submodule "vim/plugged/vim-tmux-navigator"]
	path = vim/plugged/vim-tmux-navigator
	url = git://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = git://github.com/tmux-plugins/tmux-yank
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/plugged/vim-asciidoc"]
	path = vim/plugged/vim-asciidoc
	url = git://github.com/asciidoc/vim-asciidoc.git
[submodule "vimperator/colors"]
	path = vimperator/colors
	url = https://github.com/vimpr/vimperator-colors
[submodule "tmux/plugins/tmux-colors-solarized"]
	path = tmux/plugins/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "urxvt/ext/urxvt-perls"]
	path = urxvt/ext/urxvt-perls
	url = https://github.com/muennich/urxvt-perls
[submodule "urxvt/ext/urxvt-font-size"]
	path = urxvt/ext/urxvt-font-size
	url = git://github.com/d-nnis/urxvt-font-size
