
## tmux
tmux/resurrect/*
tmux/plugins/tmux-colors-solarized/
tmux/plugins/tmux-continuum/
tmux/plugins/tmux-copycat/
tmux/plugins/tmux-cpu/
tmux/plugins/tmux-fingers/
tmux/plugins/tmux-resurrect/
tmux/plugins/tmux-sensible/
tmux/plugins/tmux-yank/
tmux/plugins/vim-tmux/

## vim
## managed via VimPlug
vim/plugged/*

## config
### mc
config/mc/*
!config/mc/ini
!config/mc/panels.ini
!config/mc/mc.ext
!config/mc/solarized.ini

## moc
moc/cache/*
moc/last_directory
moc/pid
moc/mocp_client_log
moc/playlist.m3u

## w3m
w3m/cookie
w3m/history

## vimperator
vimperator/info/*
!vimperator/info/default
vimperator/info/default/*
!vimperator/info/ffRoteDomain
vimperator/info/ffRoteDomain/*

## misc
.netrwhist

## sockets
socket*
urxvt/urxvtd-*
