
## tmux
tmux/resurrect/*
tmux/plugins/tmux-colors-solarized/
tmux/plugins/tmux-continuum/
tmux/plugins/tmux-copycat/
tmux/plugins/tmux-cpu/
tmux/plugins/tmux-fingers/
tmux/plugins/tmux-resurrect/
tmux/plugins/tmux-sensible/
tmux/plugins/tmux-yank/
tmux/plugins/vim-tmux/
## config
### mc
config/mc/*
!config/mc/solarized.ini

## vimperator
vimperator/info/*
!vimperator/info/default
vimperator/info/default/*
!vimperator/info/ffRoteDomain
vimperator/info/ffRoteDomain/*

## misc
.netrwhist
